<p>
    <h4>材料</h4> <br/>
    龙虾 <br/>
    大蒜头5个 <br/>
    葱 <br/>
    姜 <br/>
    五香粉 <br/>
    料酒 <br/>
    白胡椒粉 <br/>
    生抽 <br/>
    盐 <br/>
    糖 <br/><br/>
    <h4>做法</h4> <br/><br/>
    1. 龙虾捡洗干净，大蒜头全部剁碎成蒜泥。<br/>
    2. 热锅放油，油量略多，放入葱姜爆香，然后将蒜泥放入煸炒。<br/>
    3. 蒜泥煸炒片刻后，放入龙虾，略微翻炒，喷入料酒。<br/>
    4. 然后放适量水，生抽，五香粉，盐，糖，胡椒粉等，盖上盖大火烧10分钟左右，10分钟后揭盖翻动一下，盖盖再烧五分钟，出锅。<br/>
</p>