<p>
  <h4>主料</h4> <br/><br/>
  龙虾1000克 <br/>
  十三香10克 <br/><br/>
  <h4>配料</h4> <br/><br/>
  葱适量 <br/>
  姜适量 <br/>
  蒜适量 <br/>
  辣椒适量 <br/>
  料酒适量 <br/>
  盐适量 <br/>
  胡椒粉适量 <br/>
  糖适量 <br/><br/>
  <h4>耗时</h4> <br/><br/>
  制作时间10-20分钟 <br/><br/>
  <h4>制作过程</h4> <br/>
  1.准备好大蒜头、生姜条、紫洋葱片、青椒片 <br/>
  2.小龙虾用水冲洗，（注：有时间的话，可以抽取一下虾肠线，不抽也可以就是在食用时自己再抽取食用也行） <br/>
  3.然后准备油锅，倒入1升大豆油，烧至200度（冒青烟）分批倒入小龙虾油炸（温馨提示：不可一下子倒入大量小龙虾，这样油会溢出以免造成安全隐患，分批量少炸出的小龙虾壳也会炸的脆，肉也会鲜嫩）<br/>
  4.小龙虾壳炸至变红（约2分钟左右）捞出放器皿准备。<br/>
  5.油锅洗净，加入一勺大豆油，把前面准备的大蒜头、洋葱、姜条、青椒放入煸炒。<br/>
  6.然后放入前面炸好的小龙虾。<br/>
  7.加入小龙虾酱料，撒入少许王守义十三香粉。<br/>
  8.翻炒几下。 <br/>
  9.然后加入生抽、老抽、白糖、啤酒1/3罐、水一小碗（约200毫升）加盖焖煮5分钟。<br/>
  10.再出锅前加少许盐，鸡精，麻油，整根香菜之后再翻炒2分钟即可装盘。<br/><br/>
  <h4>注意事项</h4> <br/>
  1.糖少放点起到提鲜的作用，不要放味精。<br/>
  2.盐要提前放，这样容易入味。</p>
<!--<p>-->
  <!--Showing of 'interpolate' filter:-->
  <!--{{ 'Current version is v%VERSION%.' | interpolate }}-->
<!--</p>-->
