<p>
    <h4>制作食材</h4> <br/>
    新鲜小龙虾500克，香葱3棵，生姜1块，大蒜6瓣，花椒1大匙，干辣椒6个；调料：香油1小匙，料酒1大匙，香醋1小匙，精盐1小匙，味精1/2小匙；<br/>
    <h4>制作流程</h4> <br/>
    1.将小龙虾洗净，皮厚处剪口；<br/>
    2.葱白切段 <br/>
    3.姜、蒜洗净切末；<br/>
    4.将葱叶和花椒洗净，剁成末，加少许开水、精盐、味精、香油、香醋调成味汁；<br/>
    5.锅内注入适量开水，放入葱段、姜末、蒜末、辣椒、料酒，烧开后，放入小龙虾，煮熟后蘸调味汁食用即可。<br/>
    <h4>特点：麻辣味浓，味道鲜美。<br/>
    也可以先炒后煨再收汁，口味也很棒。</h4>
</p>
